# server
NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
LOG_LEVEL=info

# database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=task_manager

# auth
JWT_ACCESS_SECRET=ganti-dengan-string-acak-panjang
JWT_REFRESH_SECRET=ganti-juga-string-acak-lain
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7
COOKIE_SECURE=false
